
    <div class="container">
        <header>
            <h2>LOGIN</h2>
        </header>

        <main>
            <!-- Login form -->
            <form action="{{loginUrl}}" method="post" id="login-form">
                <div class="mb-3">
                    <label for="login-email" class="form-label form-label-black">Email address</label>
                    <input type="email" class="form-control" id="login-email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label for="login-password" class="form-label form-label-black">Password</label>
                    <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <!-- Sign Up button -->
            <a href="/signup" class="btn btn-secondary mt-2">New Here? Sign Up!</a>

        </main>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>
