<div class="container">
  <!-- BookHive Title -->
  <header class="text-center my-5">
    <h2>SIGN UP</h2>
  </header>

  <!-- Sign Up Form -->
  <section class="signup-form my-5">
    <form action="/signup" method="POST" id="signup-form">
      <div class="mb-3">
        <label for="signup-username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="signup-username"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signup-email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="signup-email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="signup-password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="signup-password"
          name="password"
          required
        />
      </div>

      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          name="confirm-password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </section>
</div>

<script src="/js/signup.js"></script>