/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h2 {
  color: #000000;
  text-align: center;
  font-style: bold;

}


h3, h5 {
  color: #007bff;
}

p {
  font-size: 1rem;
  color: #6c757d;
}

.btn-search {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-search:hover {
  background-color: #ffffff; 
  color: rgb(249, 174, 43);
  border: 1px solid rgb(249, 174, 43);
}

/* Button Styles */
.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

.btn-login, .btn-signup {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Navbar Styles */
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the BOOKHIVE title */
.navbar-brand .book {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.navbar-brand .hive {
  font-weight: bold;
  color: rgb(249, 174, 43);
  font-size: 30px;
}


.nav-link {
  color: #000;
  font-weight: 500;
}

.nav-link:hover {
  color: #007bff;
}

/* Container and Section Spacing */
.container {
  margin-top: 30px;
  padding: 15px;
}

header, .books-section, .user-info, .signup-form, .signout-info {
  margin-top: 40px;
  text-align: center;
}

/* Form Styles */
.form-label {
  font-weight: bold;
  color: #007bff;
}

input.form-control {
  border-radius: 5px;
}

.signup-form {
  max-width: 500px;
  margin: 0 auto;
}

/* Card Styles for Users and Books */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

/* Avatar and Image Styles */
img {
  border-radius: 50%;
}

.card-img-top {
  border-radius: 0;
}

/* Specific Page Styles */

/* Sign Out Page */
.signout-info p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* User Page */
.user-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.user-info h2 {
  margin-top: 20px;
  font-size: 2rem;
}

/* Books Section */
.books-section h3 {
  color: #28a745;
}

.books-section ul {
  list-style-type: none;
  padding: 0;
}

.books-section li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn-secondary {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
  padding: 5px 12px; 
  font-size: 0.85rem; 
  margin-left: 10px;
}


.btn-secondary:hover {
  background-color: #ffffff !important;
  color: rgb(249, 174, 43) !important;
  border: 1px solid rgb(249, 174, 43) !important;
}

.form-label {
  color: black !important;
}